DASHBOARD_HTTP_PORT=3001
DASHBOARD_RMQ_CONNECTION_STRING="amqp://rabbitmq:rabbitmq@localhost:5672/"
DASHBOARD_MONGO_CONNECTION_STRING="mongodb://root:psswd@localhost:27017/telunjuk"
DASHBOARD_RMQ_JOB_START_QUEUE="feeder"
DASHBOARD_RMQ_PRODUCT_ADDED_QUEUE="product-added"
DASHBOARD_RMQ_PRODUCT_ADDED_EXCHANGE="fetcher"
DASHBOARD_RMQ_PROCESSED_ADDED_QUEUE="job-done"
DASHBOARD_RMQ_PROCESSED_ADDED_EXCHANGE="extractor"
DASHBOARD_MANAGER_BASE_URL="http://localhost:3001"